<div class="front-page">
  <div class="front-page__preview-container">
    <img class="front-page__preview" src="/assets/images/kanban-screenshot.png">
  </div>
  <h2 class="front-page__heading">Bem-vindo ao Kanban</h2>
  {{#if currentUser}}
    <a class="button button--large" href="/{{currentUser.details.username}}">Ir</a>
  {{else}}
    <a class="button button--large" href="/user/signup">Registre-se</a>
  {{/if}}
</div>
