<div class="accounts">
  <form class="accounts__form" action="" method="post">
    <div class="accounts__heading">Digite a nova senha</div>
    <div class="text-field">
      <label class="text-field__label">
        <span class="text-field__label-text">Nova senha</span>
        <input class="text-field__input" type="password" name="password" required>
      </label>
    </div>
    <button class="button button--large button--account" type="submit">Alterar</button>
  </form>
</div>